
/* 
html {
  height:100%;
  background:#63D0FF;
} */

/* body{
  margin:0;
  padding:0;
  background:#63D0FF;
  height:100%;
} */
nav {
  position: fixed;
  top: 0px;
  z-index: 4;
}

#cactus {
  line-height: 45px;
  text-shadow: 2px 2px 4px #000000;
}

.btn-large {
  margin-top:15px;
  margin-bottom: 30px;
}

.cactus {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index:3;
  width: 100%;
 
  height: 200px;
  border:0 none transparent;
  outline:0 none transparent;
  -webkit-transform: translate3d(0,0,0.01);
  transform:translate3d(0,0,0.01);
  will-change: transform;
}

.cactus-overlay {
  width: 200px;
  height: 100%;
}

.card:hover{
  /* This is 52px total. 1/2 of that is for top and the other half is for bottom. */
  height: 300px;
  /* Below we are not using -26px for margin-top because .box has 6px border and 10px margin. */
  /* That 16px is then divide by 2 since it's for both top and bottom, or 8px per side. */
  /* Having said that, 26px - 8px is 18px. We need negative value to position it correctly. */
  margin-top: -10px;
}

.card-image {
  height: 300px;
  overflow: hidden;
}

.card-img {
  height: 250px;
  /* width: 300px; */
  overflow: hidden;
  /* padding-left: 10px; */
}
/* #crystals{
  padding-top: 18px;
} */

#design {
/* background-color:rgb(250, 148, 92); */
background-color:rgb(232, 70, 86);
/* background-color:rgb(61, 34, 113); */
/* background-color:rgb(232, 75, 91); */
}

#design-work {
}

#fhi, #pts, #seed {
  height: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom:5px;
}

#footer {
  background-color:rgb(64, 52, 121) !important;
}

#contactForm {
}

/* #giphy{
  padding-top: 60px;
} */
#main{
  width: 100%;
  margin: auto;
  line-height: 10px;
  position: absolute;
}

#index-first {
  /* background-color:rgb(230, 148, 220); */
  height:550px;
  margin-top: 50px;
  /* background: linear-gradient rgb(230, 148, 220), rgb(193, 67, 0); */
}

#logo {
  height: 40px;
  margin-top: 10px;
  padding-top: 7px;
}

#logo-container {
margin-top: 0px;
} 

#nicole {
  margin-bottom: 0px;
}

p {
  font-size: 20px;
}

#pic1 {
  /* width: 400px; */
}

/* #pocket {
  padding-top: 27px;
} */

#portfolio, #design-work {
  text-shadow: 2px 2px 4px #000000cf;
}

#projects {
  /* background-color:rgb(245, 86, 102); */
  background-color:rgb(232, 70, 86);
  /* background-color: rgb(117, 84, 145); */
  padding-bottom: 50px;
}

#react,#node, #mongo, #mysql, #github, #es6, #passport, #semantic {
  height:50px;
  padding: 5px;
}

#space {
  height: 50px;
  background-color:rgb(232, 70, 86);
}

#sunset{
  background-color:rgb(230, 148, 220);
  background: linear-gradient(rgb(245, 86, 86), rgb(242, 125, 219));
}

/* #trivia {
  padding-top: 17px;
} */

/* #volunteer {
  margin-top: -10px;
} */

#wrapper {
  position:relative;
  width:100%;
  height:100%;
}


#ground {
  background: url('./images/banner-foreground copy.png'), repeat-x 0 0 transparent;    
  position: absolute; 
  display: block; 
  bottom: 0;
  left: 0;
  z-index:3;
  width: 100%;
  max-height: 250px;
  height: 250px;
  border:0 none transparent;
  outline:0 none transparent;
  -webkit-transform: translate3d(0,0,0.01);
  transform:translate3d(0,0,0.01);
  will-change: transform;
}

#mountain {
  background: url('./images/pirple.png'), repeat-x 0 0 transparent;    
  position: absolute; 
  display: block;
  bottom: 0;
  left: 0;
  z-index:2;
  width: 100%;
  max-height: 230px;
  height: 230px;
  border:0 none transparent;
  outline:0 none transparent;
  -webkit-transform: translate3d(0,0,0.01);
  transform:translate3d(0,0,0.01);
  will-change: transform;
}

 #color {
  background-color:white;
   /* background: linear-gradient(to right, rgb(0, 244, 179), rgb(135, 255, 173)) */
}

/* #nicole {
   text-shadow: 2px 2px 4px #000000; 
} */

#nic{
  height: auto !important; 
  width: auto !important; 
  max-height: 600px !important; 
  margin-left:60%;
  padding-top: 20px;
  margin-top: -700px;
    border-left: solid 70px transparent; 
    border-right: solid 70px transparent; 
    filter: drop-shadow(0 0 10px rgb(101, 100, 100));
    height: 0; 
    width: 0; 
}


.parallax {
  background-color: rgb(245, 86, 86);
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #dd1853;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 70%;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 20px;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    width: 70%;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 20px;
  }
  #index-banner .section {
    top: 10%;
  }

  #nic{
    height: auto !important; 
    width: auto !important; 
    max-height: 600px !important; 
    margin-left:550px;
    margin-top: -400px;
    
  }
}
@media only screen and (min-width : 992px) {
  #git-icon {
  right: 24px; 
  bottom: 375px;
  filter: drop-shadow(0 0 5px rgb(58, 54, 54));
  }

  #linked-icon {
  right: -37px; 
  bottom: 312px;
  filter: drop-shadow(0 0 5px rgb(58, 54, 54));
  }
}


@media only screen and (max-width : 768px) {
  .parallax-container .section {
    width: 70%;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 20px;
  }
  #index-banner .section {
    top: 10%;
  }

  #nic{
    height: auto !important; 
    width: auto !important; 
    max-height: 600px !important; 
    margin-left:380px;
    margin-top: -400px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .parallax-container .section {
    width: 50%;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 20px;
  }

  #nic{
    height: auto !important; 
    width: auto !important; 
    max-height: 600px !important; 
    margin-left:250px;
    margin-top: -400px;
  
  }

  #mountain {
    max-height: 200px;
    height: 200px;
  }
}
/* 
@media only screen and (max-width : 480px) {
  .parallax-container .section {
    width: 100%;
    margin:auto;
  }

  #nic{
    height: auto !important; 
    width: auto !important; 
    max-height: 600px !important; 
    margin-left:20px;
    margin-top: 0px;
  }
  #ground {
    max-height: 200px;
    height: 200px;
  }

} */

@media only screen and (max-width : 480px) {
  .parallax-container .section {
    width: 100%;
    margin:auto;
  }

  #nic{
    height: auto !important; 
    width: auto !important; 
    max-height: 600px !important; 
    margin-left:-30px;
    margin-top: 0px;
  }

  #mountain {
    max-height: 200px;
    height: 200px;
  }

}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width : 480px) {
  #fhi {
    width: 330px;
    height: 200px;
  }
 
}